body{
    margin: 0%;
    font-family: 'Source Sans Pro', sans-serif;
}
section{
    height: 50px;
    padding-bottom: 150px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
h1{
    font-size: 50px;
    
}
h1 span{
    color: orange;
}
.half-span{
    width: 100%;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight:700;
    
}
.orange-colour{
    color: orange;
}

















